//========
// COLORS
//========


// brand color
$color-blue-primary: #1DA1F2;

// text color
$color-text-black: #14171A;
$color-text-link: #2b7bb9; // not updated

// gray variants
$color-gray-dark: #14171A;
$color-gray-deep: #657786;
$color-gray-medium: #AAB8C2;
$color-gray-light: #CCD6DD;
$color-gray-faded: #E6ECF0;
$color-gray-faint: #F5F8FA;

// orange variants
$color-orange-deep: #D82E18;
$color-orange-medium: #F45D22;
$color-orange-light: #FF8D57;
$color-orange-faded: #FFBE78;

// yellow variants
$color-yellow-deep: #F98E00;
$color-yellow-medium: #FFAD1F;
$color-yellow-light: #FFD03F;
$color-yellow-faded: #FFE76E;

// green variants
$color-green-deep: #008951;
$color-green-medium: #17BF63;
$color-green-light: #68E090;
$color-green-faded: #A5F2AA;

// blue variants
$color-blue-deep: #005FD1;
$color-blue-dark: #1B95E0;
$color-blue-medium: #50a5e6;
$color-blue-light: #71C9F8;
$color-blue-faded: #97E3FF;
$color-blue-faint: #EAF5FD;

// purple variants
$color-purple-deep: #4F0299;
$color-purple-medium: #794BC4;
$color-purple-light: #A37CED;
$color-purple-faded: #C7B4FA;

// red variants
$color-red-deep: #A01744;
$color-red-medium: #E0245E;
$color-red-light: #F6809A;
$color-red-faded: #FFB8C2;

// Primary brand colors
$brand-danger: $color-red-medium;
$brand-success: $color-green-medium;
$brand-warning: $color-yellow-medium;
$brand-info: $color-blue-dark;
$brand-primary: $color-blue-deep;

// Text colors (Overrides for Bootstrap 3)
$text-color: $color-text-black;
$link-color: $color-text-link;
$link-hover-color: darken($link-color, 10);

// Peer
$peer-purple: #4E516A;

// Flacto
$flacto-grey: #E8E8E8;


//===============
// HTML Defaults
//===============


body {
  margin: 0;
  padding: 0;
  background: white;

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  a, a:hover {
    cursor: pointer;
    color: inherit;
  }
}

td {
  vertical-align: middle;
}

textarea {
  resize: vertical;
}


.text-link {
  color: $link-color;

  &:hover {
    text-decoration: underline;
    color: $link-color;
  }
}

//===================
// CONTENT CONTAINER
//===================


//$body-min-width: 1280px;
//$body-max-width: 1440px;
//$body-min-width: 720px;
$body-max-width: 1080px;

.content-container {
  //min-width: $body-min-width;
  max-width: $body-max-width;
  margin-left: auto;
  margin-right: auto;
  height: 100%;
  position: relative;
}

@media all and (max-width: 720px) {
  .content-container {
    .video-player-small {
      margin-left: -15px;
      margin-right: -15px;
    }
  }

  .leaderboard {
    display: none
  }
}

*:fullscreen, *:-webkit-full-screen, *:-moz-full-screen {
  background-color: rgba(255,255,255,0);
}

#youtubeVideo {
  min-width: 100%;
  height: 100%;
}


//=========
// PADDING
//=========


// all padding

.p-0 {
  padding: 0;
}

.p-5 {
  padding: 5px;
}

.p-10 {
  padding: 10px;
}

.p-15 {
  padding: 15px;
}

.p-20 {
  padding: 20px;
}

.p-25 {
  padding: 25px;
}


// padding: 15px

.p-t-15 {
  padding-top: 15px;
}

.p-b-15 {
  padding-bottom: 15px;
}

.p-l-15 {
  padding-left: 15px;
}

.p-r-15 {
  padding-right: 15px;
}


// padding: 20px

.p-t-20 {
  padding-top: 20px;
}

.p-b-20 {
  padding-bottom: 20px;
}

.p-l-20 {
  padding-left: 20px;
}

.p-r-20 {
  padding-right: 20px;
}


// padding: 25px

.p-t-25 {
  padding-top: 25px;
}

.p-b-25 {
  padding-bottom: 25px;
}

.p-l-25 {
  padding-left: 25px;
}

.p-r-25 {
  padding-right: 25px;
}


//========
// MARGIN
//========


// auto

.m-l-r-a {
  margin-left: auto;
  margin-right: auto;
}

// all margin

.m-0 {
  margin: 0;
}

.m-5 {
  margin: 5px;
}

.m-10 {
  margin: 10px;
}

.m-15 {
  margin: 15px;
}

.m-20 {
  margin: 20px;
}

.m-25 {
  margin: 25px;
}

// margin: 15px

.m-t-15 {
  margin-top: 15px;
}

.m-b-15 {
  margin-bottom: 15px;
}

.m-l-15 {
  margin-left: 15px;
}

.m-r-15 {
  margin-right: 15px;
}


// margin: 20px

.m-t-20 {
  margin-top: 20px;
}

.m-b-20 {
  margin-bottom: 20px;
}

.m-l-20 {
  margin-left: 20px;
}

.m-r-20 {
  margin-right: 20px;
}


// margin: 25px

.m-t-25 {
  margin-top: 25px;
}

.m-b-25 {
  margin-bottom: 25px;
}

.m-l-25 {
  margin-left: 25px;
}

.m-r-25 {
  margin-right: 25px;
}


//=========
// STYLING
//=========


.autosave-text {
  color: $color-gray-medium;
  display: inline-block;
}

// override flacto styling
.inbox-item-text.light {
  color: $color-gray-medium;
  text-overflow: ellipsis;
}

.fade-out {
  /* Firefox */
  -moz-animation: savedFadeOut 0.25s ease-in 2.5s forwards;
  /* Safari and Chrome */
  -webkit-animation: savedFadeOut 0.25s ease-in 2.5s forwards;
  /* Opera */
  -o-animation: savedFadeOut 0.25s ease-in 2.5s forwards;

  animation: savedFadeOut 0.25s ease-in 2.5s forwards;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  opacity: 1;
}

.fade-in {
  /* Firefox */
  -moz-animation: savedFadeIn 0s ease-in 0s forwards;
  /* Safari and Chrome */
  -webkit-animation: savedFadeIn 0s ease-in 0s forwards;
  /* Opera */
  -o-animation: savedFadeIn 0s ease-in 0s forwards;

  animation: savedFadeIn 0s ease-in 0s forwards;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  opacity: 0;
}

@keyframes savedFadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@-webkit-keyframes savedFadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@keyframes savedFadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@-webkit-keyframes savedFadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.border-top {
  border-top: 2px solid $color-gray-faded;
}

.border-bottom {
  border-bottom: 2px solid $color-gray-faded;
}

.cursor-pointer {
  cursor: pointer;
}

.adjacent {
  display: inline-block;
  vertical-align: middle;

  &.top-aligned {
    vertical-align: top;
  }

  &.bottom-aligned {
    vertical-align: bottom;
  }
}

.position-static {
  position: static;
}

.position-relative {
  position: relative;
}

.position-absolute {
  position: absolute;
}

.position-fixed {
  position: fixed;
}

.display-inline-block {
  display: inline-block;
}

.display-block {
  display: block;
}
 .display-none {
  display: none;
}

.text-align-left {
  text-align: left;
}

.text-align-right {
  text-align: right;
}

.text-align-center {
  text-align: center;
}

.alert a {
  text-decoration: underline;
}


//=========
// FLEXBOX
//=========


.flexbox {
  display: flex;

  &.justify-space-between {
    justify-content: space-between;
  }

  &.justify-space-around {
    justify-content: space-around;
  }

  // vertical align
  &.align-items-center {
    align-items: center;
  }

  &.align-self-center {
    align-items: center;
  }

  .flex-shrink-none {
    flex-shrink: 0;
  }
}
